.root {
  -fx-font-size: 14px;
  -fx-font-family: sans-serif;
  -fx-background-color: #777777;
}

Label {
  -fx-text-fill: white;
}

.panel {
  -fx-spacing: 15;
  -fx-padding: 40 10 10 10;
}

.button-grid-section {
  -fx-alignment: center;
  -fx-padding: 0 0 10 0;
}

.button-grid-section VBox {
  -fx-alignment: bottom-center
 }

.slider-box {
  -fx-padding: 0 15 10 0
}

.slider {
  -fx-orientation: vertical;
  -fx-max-width: 70;
  -fx-min-height: 200;
}

.slider-label {
  -fx-padding: 5 0 5 0;
}

.button-grid {
  -fx-background-radius: 5.0;
  -fx-padding: 10 10 10 20;
  -fx-hgap: 8;
  -fx-vgap: 8;
}

.button-grid .button {
  -fx-pref-width: 70;
  -fx-pref-height: 70;
  -fx-padding: 10;
  -fx-background-color: #22bbff;
  -fx-font-family: sans-serif;
  -fx-font-size: 36;
}

.button-grid .button:pressed {
  -fx-background-color: #44ddff;
}

.button-row {
  -fx-spacing: 10;
  -fx-alignment: bottom-center;
  -fx-padding: 10 10 10 10;
}

.button-row button {
  -fx-background-color: #DDDDDD;
}

.button-row .button:focused {
  -fx-background-color: #22bbff;
}

.button-row .button:pressed {
  -fx-background-color: #44ddff;
}

.toggle-button {
  -fx-background-color: #777777;
  -fx-text-fill: white;
}

.ups-status-box {
  -fx-alignment: center;
  -fx-padding: 0 10 40 10;
  -fx-spacing: 20;
}

.ups-status {
  -fx-pref-column-count: 3;
  -fx-font-size: 16px;
  -fx-padding: 5 5 5 5;
  -fx-alignment: center;
  -fx-background-color: #EEEEEE;
  -fx-text-fill: green;
}

.ups-status-label {
  -fx-padding: 5 0 5 10;
}

#console {
  -fx-min-height: 300;
  -fx-min-width: 600;
  -fx-text-fill: green;
}

#console .content {
 -fx-background-color: #EEEEEE;
}
